*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style-type: none;
}

.font-22 {
    font-size: 22px;
}

.font-13 {
    font-size: 13px;
}

/*topbar*/

    /*logo*/

        .logo {
            width: 70px;
            height: 70px;
        }

        .logo-2, .hide-icon, .side-text {
            display: none;
        }

    /*logo-end*/
    /*search-bar*/

        .flat-radius {
            border-bottom-right-radius: 0;
            border-top-right-radius: 0;
        }

        .input-group .input-group-text, .form-control {
            background-color: rgb(229, 229, 229);
        }
        

        .input-group input.form-control{
            border-left-color: rgb(229, 229, 229);
        }

    /*search-bar-end*/
    /*icons*/

        .topbar-ul {
            margin-bottom: 0;
        }

        .padding-top-3 {
            padding-top: 3px;
        }

        .ul-margin {
            margin-left: 24px;
        }

        .left-145 {
            left: -145px !important;
        }

    /*icons-end*/

/*topbar-end*/

.wrapper {
    width: 100vw;
    height: calc(100vh - 110px);
    display: flex;
}

/*main*/

    

    /*aside*/

        aside {
            background-color: rgb(5, 30, 52);
            height: 100%;
            width: 85px
        }

        .sidebar-ul {
            padding: 0;
        }

        .gear {
            position: fixed;
            bottom: 0;
            padding: 30px;  
        }

        .side-icon {
            font-size: 25px;
        }

        .gray-hover:hover {
            background-color: lightslategray;
        }

    /*aside-end*/

    /*main*/

        main {
            width: calc(100vw - 85px);
            height: 100%;
        }

        .badge-blue {
            background-color: rgb(22, 91, 186);
            border-radius: 10px;
        }

        .plus {
            padding: 6px;
            font-size: 9px;
        }

        .app {
            display: none;
        }

        .red-circle {
            width: 35px;
            height: 35px;
        }

        .table-button {
            padding: 7px;
            border: 1px solid gray;
            border-radius: 5px;
        }

        .offcanvas-width {
            width: 100% !important;
        }

    /*main*/

/*main-end*/

@media screen and (max-width: 767px) {
    
    .t-col-2, .t-col-3 {
        display: none;
    }

}


@media screen and (min-width: 768px) {
    
    .big-table-row {
        width: 40%;  
    }

}

@media screen and (min-width: 992px) {
    
    .logo {
        display: none;
    }

    .logo-2, .hide-icon {
        display: block;
    }

    .side-text {
        display: inline-block;
    }

    .logo-2 {
        width: 170px;
    }

    .topbar-ul li {
        margin-left: 20px;
    }

    .ul-margin {
        margin: 0;
    }

    .side-icon, .side-text{
        font-size: 20px;
    }

    aside {
        width: 165px;
    }

    .gear {
        padding: 30px 37px;
    }

    .wrapper {
        height: calc(100vh - 92px);
    }

    main {
        width: calc(100vw - 165px);
    }

    .plus {
        display: none;
    }

    .app {
        display: inline-block;
    }

    .big-table-row {
        width: 50%;  
    }

    .w-lg-50 {
        width: 50%;
    }

    .offcanvas-width {
        width: 50% !important;
    }

}

@media screen and (min-width: 1310px) {
    
    .new-students {
        width: fit-content;
        float: right;
        padding-right: 20px;
    }

}