*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

.font-22 {
    font-size: 22px;
}

/*topbar*/

    /*logo*/

        .logo {
            width: 70px;
            height: 70px;
        }

        .logo-2, .hide-icon, .side-text {
            display: none;
        }

    /*logo-end*/
    /*search-bar*/

        .flat-radius {
            border-bottom-right-radius: 0;
            border-top-right-radius: 0;
        }

        .input-group .input-group-text, .form-control {
            background-color: rgb(229, 229, 229);
        }
        

        .input-group input.form-control{
            border-left-color: rgb(229, 229, 229);
        }

    /*search-bar-end*/
    /*icons*/

        .topbar-ul {
            margin-bottom: 0;
        }

        .padding-top-3 {
            padding-top: 3px;
        }

        .ul-margin {
            margin-left: 24px;
        }

    /*icons-end*/

/*topbar-end*/

/*main*/

    main {
        height: calc(100vh - 92px);
        width: 100%;
    }

    /*aside*/

        aside {
            background-color: rgb(5, 30, 52);
            height: 100%;
            width: 85px
        }

        .sidebar-ul {
            padding: 0;
        }

        .gear {
            position: fixed;
            bottom: 0;
            padding: 30px;  
        }

        .side-icon {
            font-size: 25px;
        }

    /*aside-end*/

/*main-end*/

@media screen and (min-width: 992px) {
    
    .logo {
        display: none;
    }

    .logo-2, .hide-icon {
        display: block;
    }

    .side-text {
        display: inline-block;
    }

    .logo-2 {
        width: 170px;
    }

    .topbar-ul li {
        margin-left: 20px;
    }

    .ul-margin {
        margin: 0;
    }

    .side-icon, .side-text{
        font-size: 20px;
    }

    aside {
        width: 165px;
    }

    .gear {
        padding: 30px 37px;
    }

}